Check which status is to be used when it is not the same on a multiline reply

When a multiline reply contains more than one different status code it might be better to use the last one.

Example (this is likely a server bug, but I found that on one server I tested):

````
220-someserver.net ESMTP
521 5.7.1 Service unavailable; client [x.x.x.x] blocked using blacklist.org
EHLO hostname
socket has been closed
````

That is wrong for two reasons, first it should be only one status code in all lines and second the server shouldn't close the connection directly after the status is sent.

The error would be handled more graceful if the status 521 is considered.


Yes, I agree that it is a server bug as well according to [section 4.2.1 of RFC 5321](https://tools.ietf.org/html/rfc5321#page-50):

> In a multiline reply, the reply code on each of the lines MUST be the
> same.  It is reasonable for the client to rely on this, so it can
> make processing decisions based on the code in any line, assuming
> that all others will be the same

@alexlehm There is [code checking the consistences of the result codes](https://github.com/vert-x3/vertx-mail-client/blob/4.0.0-milestone4/src/main/java/io/vertx/ext/mail/impl/Capabilities.java#L120), so I think we can close this issue? :)


@gaol i agree, we can close this
